/* #region Main root */
:root {
    --color-iris: #4d5ae5;
    --color-ocean: #404bbf;
    --color-navy-blue: #2e2f42;
    --color-green: #31d0aa;
    --color-slate: #434455;
    --color-light-slate: #8e8f99;
    --color-cornflower: #e7e9fc;
    --color-cloud: #f4f4fd;
    --color-navy-blue-modal: #2e2f42;
    --color-grey: #2e2f42;
    --color-white: #ffffff;
    --color-dairy: #fcfcfc;
}

body{
    font-family: "Roboto", sans-serif;
    color: var(--color-slate);
    background-color: var(--color-white);
}
/* reset */
h1, h2, h3, h4, h5, h6, p{
    margin: 0;
}

ul, ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

.container{
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}
.section{
    padding-top: 120px;
    padding-bottom: 120px;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
/* #endregion */
/* #region Header */

.page-header{
    border-bottom: 1px solid #e7e9fc;
}
.header-container{
    display: flex;
    align-items: center;
}
.header-nav{
    display: flex;
    align-items: center;
}
.header-nav-list{
    display: flex;
    align-items: center;
    gap: 40px;
}
.address-list{
    display: flex; 
    align-items: center;
    gap: 40px;
}
.header-logo{
    padding: 24px 0;
    margin-right: 76px;
}
.logo{
    font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: var(--color-iris);
}
.header-logo .logo-part{
color:var(--color-navy-blue);
}
.header-nav-link{
    padding: 24px 0;
    display: block;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:var(--color-navy-blue);
}
.header-nav-link:hover,
.header-nav-link:focus{
    color: var(--color-ocean);
}
.address{
    font-style: normal;
    margin-left: auto;
}
.address-list-link{
    display: block;
    padding: 24px 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:var(--color-slate);
}
.address-list-link:hover, 
.address-list-link:focus{
    color: var( --color-ocean);
}
/* #endregion */
/* #region Hero (section1) */
.hero{
    font-family: "Roboto", sans-serif;
    background-color:var(--color-navy-blue);
    padding: 188px 0;
}
.hero-title{
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--color-white);
    
    max-width: 496px;
    margin:0 auto 48px;

}
.hero-button{
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--color-white);
    background-color: var(--color-iris);

    border-radius: 4px;
    padding: 16px 32px 16px 32px;
    border: none;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    display: block;
    margin: 0 auto;
    min-width: 169px;

}
.hero-button:hover, 
.hero-button:focus{
    background-color: var( --color-ocean);
}
/* #endregion */
/* #region Future (section2) */
.feature-list-title{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color:var(--color-navy-blue);

    margin-bottom: 8px;
}
.feature-list-text{   
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:var(--color-slate);
}
.feature-list-item{
    width: 264px;
}
.feature-list{
    display: flex;
    gap: 24px;
    justify-content: center;
}
.feature-section{
    padding: 120px 0;
}
/* #endregion */
/* #region Our Time (section3)*/
.ourtime-section{
    background-color: var(--color-cloud);
}
.ourtime-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color:var(--color-navy-blue);
    text-transform: capitalize;

    margin-bottom: 72px;
}
.ourtime-list-item{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    background-color:var(--color-white);
    border-radius: 0px 0px 4px 4px;
}
.ourtime-item-title{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--color-navy-blue);

    margin-bottom: 8px;


}
.ourtime-item-text{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color:var(--color-slate);
}
.ourtime-list{
    display: flex;
    gap: 24px;
}
.ourtime-img{
    display: block;
}
.ourtime-card-content {
    padding: 32px 0;
    text-align: center;
}
/* #endregion */
/* #region Our Portfolio (section4) */
.ourportfolio-section{
    background-color: var(--color-white);
}
.ourportfolio-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color:var(--color-navy-blue);
    text-transform: capitalize;

    margin-bottom: 72px;
}
.ourportfolio-list-title{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color:var(--color-navy-blue);
    margin-bottom: 8px;
}
.ourportfolio-list-text{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:var(--color-slate);
}
.ourportfolio-list{
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
    
}
.ourportfolio-img{
    display: block;
    max-width: 100%;
    height: auto;
    
}
.ourportfolio-list-item{

width: calc((100% - 2 * 24px)/3)
}
.list-item-content{
    padding: 32px 16px;
    border-bottom: 1px solid #e7e9fc;
    border-left: 1px solid #e7e9fc;
    border-right: 1px solid #e7e9fc;
}
/* #endregion */ 

/* #region Footer */
.footer{
    background-color:var(--color-navy-blue);
    padding: 100px 0;
}
.footer-text{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--color-cloud);
    width: 264px;
}

.footer-logo .logo-part{
    color: var(--color-cloud);
}
.footer-logo {
    display: inline-block;
    margin-bottom: 16px;
}
/* #endregion */
